* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 100%; */
  /* height: 100%; */
}

body {
  height: 100%;
}

@font-face {
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #03c29e;
}

h1 {
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
}

p {
  line-height: 1.6rem;
}

span {
  font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
}

.header {
  text-align: center;
  margin: 128px 0px 80px 0px;
  width: 100%;
}

.header h1 {
  font-size: 40px;
}

.parent-container {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
}

.aboutme-container {
  max-width: 1040px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  margin: 0px 64px 128px 40px;
}

.aboutme-text-container {
  margin: 48px 64px;
  width: 50%;
}

.aboutme-my {
  margin-bottom: 16px;
}

.aboutme-img {
  margin: 12px;
  width: 500px;
}

#aboutMeHeader {
  color: #03c29e;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: cetner;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
  .aboutme-container {
    /*  */
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 48px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;
  }

  .aboutme-text-container {
    width: 60%;
  }

  #aboutme-ed-container {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-device-width: 768px) {
  .header {
    text-align: center;
    margin: 128px 0px 64px 0px;
    width: 100%;
  }

  .header h1 {
    font-size: 32px;
  }
  .aboutme-container {
    /*  */
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 64px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: 100%;
  }

  .aboutme-text-container {
    width: 80%;
  }

  #aboutme-ed-container {
    flex-direction: column-reverse;
  }

  .aboutme-img {
    margin: 12px;
    width: 300px;
  }
}
