* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;
  overflow: visible;
  box-sizing: border-box;
}

.curriculum-header {
  max-width: 1104px;
  margin: 0 auto;
  margin-top: 128px;
  text-align: center;
}

.header-image {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.header-image img {
  width: 500px;
  margin-top: 80px;
}

.header-text {
  margin: 80px 64px 0 64px;
}

.mid-header {
  max-width: 1104px;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-top: 128px;
}

.curr-usp-container {
  max-width: 1104px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* /* text-align: center; */
  margin: 0 auto;
  margin-top: 128px;
  margin-bottom: 128px;
  /* margin-left: 24px; */
}

.curr-usp {
  justify-content: space-around;
  text-align: center;
  margin: 0 32px;
}
.curr-usp-img {
  width: 150px;
  margin-top: 64px;
}

.curr-usp-text {
  margin: 64px 0;
  width: 350px;
}
/* span.curr-title-first,
span.curr-title-second {
  align-items: center;
  position: relative;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 40px;
}

span.curr-title-second:after {
  background-color: #03c29e;
  opacity: 0.6;
  content: " ";
  height: 30%;
  position: absolute;
  left: 0;
  margin-left: 5rem;
  top: 65%;
  width: calc(83%);
  z-index: -1;
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: cetner;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .header-image img {
    width: 600px;
  }
  .curr-usp-container {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
}

@media only screen and (max-device-width: 768px) {
  h1 {
    font-size: 32px;
  }
  .header-image img {
    /* margin: 0 24px; */
    width: 350px;
    margin-top: 24px;
    margin-bottom: 0px;
  }

  .curriculum-header h1 {
    margin: 0px 6px 0px 6px;
  }

  .header-text {
    margin: 16px;
  }
  .curr-usp-container {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    margin-bottom: 16px;
    align-items: center;
  }
  .curr-usp-img {
    width: 120px;
    margin-top: 48px;
    margin-bottom: 0px;
  }
  .curr-usp-text {
    /* align-items: center; */
    margin: 24px 0px 56px 0px;
    width: 350px;
  }

  .mid-header {
    margin-top: 64px;
  }
}
