* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;
  overflow: visible;
  box-sizing: border-box;
}

.curriculum-header {
  max-width: 1104px;
  margin: 0 auto;
  margin-top: 128px;
  text-align: center;
}

.header-image {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.header-image img {
  width: 750px;
  margin-top: 128px;
}

.header-text {
  margin: 128px 64px 0 64px;
}

.mid-header {
  max-width: 1104px;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-top: 128px;
}

.curr-usp-container {
  max-width: 1104px;
  margin: 0 auto;
  margin-top: 128px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.curr-usp-img {
  width: 150px;
  margin-top: 64px;
}

.curr-usp-text {
  margin: 64px 0;
  width: 350px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 60px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: cetner;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  .header-image img {
    width: 600px;
  }
  .curr-usp-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-device-width: 768px) {
  .header-image img {
    /* margin: 0 24px; */
    width: 350px;
    margin-top: 24px;
  }

  .header-text {
    margin: 16px;
  }
  .curr-usp-container {
    display: flex;
    flex-direction: column;
  }
}
